.simple-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.simple-form-container {

}

.simple-form__label {
  color: deeppink;
  font-size: calc(8px + 1vmin);
}

.simple-form__string-field {
  background-color: white;
}

.simple-form__submit {
  background-color: gainsboro;
  border-radius: 4px;
}


