.simple-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.simple-form-container {

}

.simple-form__label {
  color: deeppink;
  font-size: calc(8px + 1vmin);
  padding: 4px;
}

.simple-form__input {
  margin-left: 4px;
}

.simple-form__string-field {
  background-color: white;
  margin-left: 4px;
}

