.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.App-header {
  color: deeppink;
  min-height: 10vh;
}

.App-link {
  color: cyan;
  text-decoration: none;
}

.App-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.App-label {
  color: deeppink;
  font-size: calc(8px + 1vmin);
}

.App-string-field {
  background-color: white;
}

.App-submit {
  background-color: gainsboro;
  border-radius: 4px;
}


